{% extends 'base.html' %}
{% block title %} Análisis Pago {% endblock %}
{% block content %}
<br>
<div class="row">
  <div class="col-sm-12 text-center">
    <h1 style="font-family:Impact,sans-serif;">Estadística de los Valores del Bitcoin en el Mercado.</h1>
  </div>
</div>
<hr>
<br>
<div class="card border-secondary mb-3">
  <img src="data:image/png;base64,{{imagen3}}"  class="img-fluid rounded-start" alt="grafica">
  <br><br>
  <div class="card border-secondary text-center">
    <div class="border-secondary card-header">
      <br>
      <h3 style="font-family:Impact,sans-serif;">Valor Máximo del Bitcoin en el Mercado de Acuerdo a las Fechas.</h3>
    </div>
    <div class="card-body">
        <p class="card-text" align="justify">Bitcoin, cuando se analiza con tiempo ves que parece ser mucho más fuerte, justo y 
          poderoso para el usuario incluso que el dinero fiduciario de un país. <br>
          Recordemos que un bitcoin es divisible, y tiene 100 millones de satoshis (su unidad más pequeña), 
          pudiendo llegar un futuro donde equipararse 1 satoshi con 1 céntimo de euro y valer el millón de euros 
          que anteriormente mencionamos, ¡pero ojo! Bitcoin funciona por consenso, y esa cantidad de decimales 
          podría aumentarse si llegase a ser necesario y la mayoría de los nodos estuviese de acuerdo.</p>
          <br><br>
      <button class="boton" style="width: 300px;" OnClick="location.href='/Analisis'" type="button">Regresar </button>
    
    <br>
  </div>
  </div>
  </div>
{% endblock %}
